<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="royal" (click)="showFilter = !showFilter">
        Filters
      </button>
    </ion-buttons>
    <ion-title>Wedstrijden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list (swipe)="swipeEvent($event)">
    <ion-grid>
      <ion-row>
        <ion-col (click)="loadAllMatches()" style="font-size: 18px; text-align: center" [ngStyle]="{'background': selectedMatchTab === 1 ? '#488aff' : '#679fff'}">
          <a style="color: white">Alle wedstrijden</a>
        </ion-col>
        <ion-col (click)="loadUserMatches()" style="font-size: 18px; text-align: center" [ngStyle]="{'background': selectedMatchTab === 2 ? '#488aff' : '#679fff'}">
          <a style="color: white">Jouw wedstrijden</a>
          <ion-badge item-end color="danger">{{userMatchesCount}}</ion-badge>
        </ion-col>
        <ion-col (click)="createMatch()" style="font-size: 18px; text-align: center; background: #ff9900">
          <a style="color: white">Wedstrijd aanmaken</a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-container *ngIf="showFilter">
      <ion-item>
        <ion-searchbar [(ngModel)]="filterQuery" (ionInput)="filter()" placeholder="Zoek op sleutel, speler of wedstrijd..."></ion-searchbar>
      </ion-item>
      <ion-item-group>
        <ion-item-divider>
          Filter op:
        </ion-item-divider>
        <ion-item>
          <ion-label>Sleutel</ion-label>
          <ion-toggle [(ngModel)]="keyBox" (ionChange)="filter()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Naam speler</ion-label>
          <ion-toggle [(ngModel)]="nameBox" (ionChange)="filter()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Titel wedstrijd</ion-label>
          <ion-toggle [(ngModel)]="titleBox" (ionChange)="filter()"></ion-toggle>
        </ion-item>
      </ion-item-group>
    </ng-container>

    <ion-item *ngIf="matches?.length < 1">
      Geen wedstrijden gevonden
    </ion-item>
    <ion-item *ngIf="matches && matches.length > 0" class="alert alert-primary">
      <strong>{{matches.length}}</strong> wedstrijd(en) gevonden!
    </ion-item>

    <ion-item *ngFor="let match of matches" (click)="matchDetail(match.id)">
      <ion-grid style="margin-bottom: -10px;">
        <ion-row>
          <ion-col col-6 text-wrap>
            <p>{{match.title}}</p>
          </ion-col>
          <ion-col col-6>
            <p style="text-align: right" *ngIf="match.matchCreated && !match.matchFinished && match.duration > 1">{{match.duration}} minuten bezig...</p>
            <p style="text-align: right" *ngIf="match.matchCreated && !match.matchFinished && match.duration === '0'">&lt; 1 minuut bezig...</p>
            <p style="text-align: right" *ngIf="match.matchCreated && !match.matchFinished && match.duration === '-1'">&gt; 60 minuten bezig...</p>
            <p style="text-align: right" *ngIf="match.matchCreated && !match.matchFinished && match.duration === 1">1 minuut bezig...</p>
            <p style="text-align: right" *ngIf="!match.matchCreated">Moet nog starten...</p>
            <p style="text-align: right" *ngIf="match.matchFinished">{{match.matchFinished | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-5 style="text-align: right">
            {{match.player1}}
            <br>{{match.player3}}
          </ion-col>
          <ion-col center col-2 style="text-align: center">
            vs
          </ion-col>
          <ion-col col-5 style="text-align: left">
            {{match.player2}}
            <br>{{match.player4}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>