<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Wedstrijden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list (swipe)="swipeEvent($event)">
    <ion-grid>
      <ion-row>
        <ion-col (click)="loadAllMatches()" style="font-size: 18px; text-align: center" [ngStyle]="{'background': selectedMatchTab === 1 ? '#488aff' : '#679fff'}">
          <a style="color: white">Alle wedstrijden</a>
        </ion-col>
        <ion-col (click)="loadUserMatches()" style="font-size: 18px; text-align: center" [ngStyle]="{'background': selectedMatchTab === 2 ? '#488aff' : '#679fff'}">
          <a style="color: white">Jouw wedstrijden</a>
          <ion-badge item-end color="danger">{{userMatchesCount}}</ion-badge>
        </ion-col>
        <ion-col (click)="createMatch()" style="font-size: 18px; text-align: center; background: #ff9900">
          <a style="color: white">Wedstrijd aanmaken</a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngFor="let match of matches" (click)="matchDetail(match.id)">
      <p style="float: left;">{{match.title}}</p>
      <p style="text-align: right" *ngIf="match.matchCreated && !match.matchFinished && match.duration > 1">{{match.duration}} minuten bezig...</p>
      <p style="text-align: right" *ngIf="match.matchCreated && !match.matchFinished && match.duration === '0'">&lt; 1 minuut bezig...</p>
      <p style="text-align: right" *ngIf="match.matchCreated && !match.matchFinished && match.duration === 1">1 minuut bezig...</p>
      <p style="text-align: right" *ngIf="!match.matchCreated">Moet nog starten...</p>
      <p style="text-align: right" *ngIf="match.matchFinished">Wedstrijd afgelopen op {{match.matchFinished | date:'dd/MM/yyyy HH:mm:ss'}}</p>

      <ion-grid>
        <ion-row>
          <ion-col col-5 style="text-align: right">
            {{match.player1}}
            <br>{{match.player3}}
          </ion-col>
          <ion-col center col-2 style="text-align: center">
            vs
          </ion-col>
          <ion-col col-5 style="text-align: left">
            {{match.player2}}
            <br>{{match.player4}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>