<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button color="royal" (click)="showFilter = !showFilter">
        Filters
      </button>
    </ion-buttons>
    <ion-title>Competitiepartijen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list (swipe)="swipeEvent($event)">
    <ion-grid>
      <ion-row>
        <ion-col (click)="loadAllCompetitions()" style="font-size: 18px; text-align: center" [ngStyle]="{'background': selectedCompetitionTab === 1 ? '#488aff' : '#679fff'}">
          <a style="color: white">Alle competities</a>
        </ion-col>
        <ion-col (click)="loadUserCompetitions()" style="font-size: 18px; text-align: center" [ngStyle]="{'background': selectedCompetitionTab === 2 ? '#488aff' : '#679fff'}">
          <a style="color: white">Jouw competities</a>
          <ion-badge item-end color="danger">{{userCompetitionsCount}}</ion-badge>
        </ion-col>
        <ion-col (click)="createCompetition()" style="font-size: 18px; text-align: center; background: #ff9900">
          <a style="color: white">competitie aanmaken</a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ng-container *ngIf="showFilter">
      <ion-item>
        <ion-searchbar [(ngModel)]="filterQuery" (ionInput)="filter()" placeholder="Zoek op sleutel, speler of wedstrijd..."></ion-searchbar>
      </ion-item>
      <ion-item-group>
        <ion-item-divider>
          Filter op:
        </ion-item-divider>
        <ion-item>
          <ion-label>Sleutel</ion-label>
          <ion-toggle [(ngModel)]="keyBox" (ionChange)="filter()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Team</ion-label>
          <ion-toggle [(ngModel)]="teamBox" (ionChange)="filter()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Titel competitiepartij</ion-label>
          <ion-toggle [(ngModel)]="titleBox" (ionChange)="filter()"></ion-toggle>
        </ion-item>
      </ion-item-group>
    </ng-container>

    <ion-item *ngIf="competitions?.length < 1">
      Geen competitiepartijen gevonden
    </ion-item>
    <ion-item *ngIf="competitions && competitions.length > 0" class="alert alert-primary">
      <strong>{{competitions.length}}</strong> competitiepartij(en) gevonden!
    </ion-item>

    <ion-item *ngFor="let competition of competitions" (click)="competitionDetail(competition.id)">
      <ion-grid style="margin-bottom: -10px;">
        <ion-row>
          <ion-col col-8 text-wrap>
            <p>{{competition.title}}</p>
          </ion-col>
          <ion-col col-4>
            <p style="text-align: right">{{competition.startDate | date: 'dd/MM/yyyy'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col col-5 style="text-align: right">
            {{competition.team1}}
          </ion-col>
          <ion-col center col-2 style="text-align: center">
            vs
          </ion-col>
          <ion-col col-5 style="text-align: left">
            {{competition.team2}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>