<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Competitiepartij</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="competition">
    <h1 style="text-align: center">{{competition.title}}</h1>
    <p style="text-align: center" *ngIf="competition.street && competition.city">{{competition.street}}, {{competition.city}}</p>
    <ion-grid *ngIf="competition.type === 'MEN'">
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1></ion-col>
        <ion-col col-5 style="text-align: right;" [ngStyle]="{'font-weight': getFontWeight(competition.matchesWonTeam1, competition.matchesWonTeam2)}">{{competition.team1}} {{competition.matchesWonTeam1}}</ion-col>
        <ion-col col-5 [ngStyle]="{'font-weight': getFontWeight(competition.matchesWonTeam2, competition.matchesWonTeam1)}">{{competition.matchesWonTeam2}} {{competition.team2}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HD1</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 1, 1)"
            [value]="getPlayer(competition.team1, 1, 1)?.name" placeholder="Naam speler" name="match1team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 1, 2)"
            [value]="getPlayer(competition.team1, 1, 2)?.name" placeholder="Naam speler" name="match1team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 1, 1)"
            [value]="getPlayer(competition.team2, 1, 1)?.name" placeholder="Naam speler" name="match1team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 1, 2)"
            [value]="getPlayer(competition.team2, 1, 2)?.name" placeholder="Naam speler" name="match1team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(1, 'Heren dubbel 1', 'MEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HD2</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 2, 1)"
            [value]="getPlayer(competition.team1, 2, 1)?.name" placeholder="Naam speler" name="match2team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 2, 2)"
            [value]="getPlayer(competition.team1, 2, 2)?.name" placeholder="Naam speler" name="match2team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 2, 1)"
            [value]="getPlayer(competition.team2, 2, 1)?.name" placeholder="Naam speler" name="match2team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 2, 2)"
            [value]="getPlayer(competition.team2, 2, 2)?.name" placeholder="Naam speler" name="match2team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(2, 'Heren dubbel 2', 'MEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HD3</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
            getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 3, 1)"
            [value]="getPlayer(competition.team1, 3, 1)?.name" placeholder="Naam speler" name="match3team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
            getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 3, 2)"
            [value]="getPlayer(competition.team1, 3, 2)?.name" placeholder="Naam speler" name="match3team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
            getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 3, 1)"
            [value]="getPlayer(competition.team2, 3, 1)?.name" placeholder="Naam speler" name="match3team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
            getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 3, 2)"
            [value]="getPlayer(competition.team2, 3, 2)?.name" placeholder="Naam speler" name="match3team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(3, 'Heren dubbel 3', 'MEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HD4</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
            getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 4, 1)"
            [value]="getPlayer(competition.team1, 4, 1)?.name" placeholder="Naam speler" name="match4team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
            getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 4, 2)"
            [value]="getPlayer(competition.team1, 4, 2)?.name" placeholder="Naam speler" name="match4team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
            getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 4, 1)"
            [value]="getPlayer(competition.team2, 4, 1)?.name" placeholder="Naam speler" name="match4team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
            getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 4, 2)"
            [value]="getPlayer(competition.team2, 4, 2)?.name" placeholder="Naam speler" name="match4team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(4, 'Heren dubbel 4', 'MEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HE1</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 5, 1), null, 
            getPlayer(competition.team2, 5, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 5, 1)"
            [value]="getPlayer(competition.team1, 5, 1)?.name" placeholder="Naam speler" name="match5team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 5, 1), null, 
            getPlayer(competition.team2, 5, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 5, 1)"
            [value]="getPlayer(competition.team2, 5, 1)?.name" placeholder="Naam speler" name="match5team2position1" style="width: 100%; padding-left: 15px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(5, 'Heren enkel 1', 'MEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HE2</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 6, 1), null, 
            getPlayer(competition.team2, 6, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 6, 1)"
            [value]="getPlayer(competition.team1, 6, 1)?.name" placeholder="Naam speler" name="match6team1position1" style="width: 100%; text-align: right; padding-right: 16px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 6, 1), null, 
            getPlayer(competition.team2, 6, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 6, 1)"
            [value]="getPlayer(competition.team2, 6, 1)?.name" placeholder="Naam speler" name="match6team2position1" style="width: 100%; padding-left: 16px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(6, 'Heren enkel 2', 'MEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HE3</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), null, 
            getPlayer(competition.team2, 7, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 7, 1)"
            [value]="getPlayer(competition.team1, 7, 1)?.name" placeholder="Naam speler" name="match7team1position1" style="width: 100%; text-align: right; padding-right: 17px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), null, 
            getPlayer(competition.team2, 7, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 7, 1)"
            [value]="getPlayer(competition.team2, 7, 1)?.name" placeholder="Naam speler" name="match7team2position1" style="width: 100%; padding-left: 17px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(7, 'Heren enkel 3', 'MEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HE4</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), null, 
            getPlayer(competition.team2, 8, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 8, 1)"
            [value]="getPlayer(competition.team1, 8, 1)?.name" placeholder="Naam speler" name="match8team1position1" style="width: 100%; text-align: right; padding-right: 18px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), null, 
            getPlayer(competition.team2, 8, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 8, 1)"
            [value]="getPlayer(competition.team2, 8, 1)?.name" placeholder="Naam speler" name="match8team2position1" style="width: 100%; padding-left: 18px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(8, 'Heren enkel 4', 'MEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button block color="danger" *ngIf="hasAuthority" (click)="deleteCompetition()">
          Verwijder competitiepartij
        </button>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="competition.type === 'WOMEN'">
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1></ion-col>
        <ion-col col-5 style="text-align: right;" [ngStyle]="{'font-weight': getFontWeight(competition.matchesWonTeam1, competition.matchesWonTeam2)}">{{competition.team1}} {{competition.matchesWonTeam1}}</ion-col>
        <ion-col col-5 [ngStyle]="{'font-weight': getFontWeight(competition.matchesWonTeam2, competition.matchesWonTeam1)}">{{competition.matchesWonTeam2}} {{competition.team2}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DD1</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
              getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 1, 1)"
            [value]="getPlayer(competition.team1, 1, 1)?.name" placeholder="Naam speler" name="match1team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
              getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 1, 2)"
            [value]="getPlayer(competition.team1, 1, 2)?.name" placeholder="Naam speler" name="match1team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
              getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 1, 1)"
            [value]="getPlayer(competition.team2, 1, 1)?.name" placeholder="Naam speler" name="match1team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
              getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 1, 2)"
            [value]="getPlayer(competition.team2, 1, 2)?.name" placeholder="Naam speler" name="match1team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(1, 'Dames dubbel 1', 'WOMEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DD2</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
              getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 2, 1)"
            [value]="getPlayer(competition.team1, 2, 1)?.name" placeholder="Naam speler" name="match2team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
              getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 2, 2)"
            [value]="getPlayer(competition.team1, 2, 2)?.name" placeholder="Naam speler" name="match2team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
              getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 2, 1)"
            [value]="getPlayer(competition.team2, 2, 1)?.name" placeholder="Naam speler" name="match2team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
              getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 2, 2)"
            [value]="getPlayer(competition.team2, 2, 2)?.name" placeholder="Naam speler" name="match2team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(2, 'Dames dubbel 2', 'WOMEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DD3</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
              getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 3, 1)"
            [value]="getPlayer(competition.team1, 3, 1)?.name" placeholder="Naam speler" name="match3team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
              getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 3, 2)"
            [value]="getPlayer(competition.team1, 3, 2)?.name" placeholder="Naam speler" name="match3team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
              getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 3, 1)"
            [value]="getPlayer(competition.team2, 3, 1)?.name" placeholder="Naam speler" name="match3team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), getPlayer(competition.team1, 3, 2), 
              getPlayer(competition.team2, 3, 1), getPlayer(competition.team2, 3, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 3, 2)"
            [value]="getPlayer(competition.team2, 3, 2)?.name" placeholder="Naam speler" name="match3team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(3, 'Dames dubbel 3', 'WOMEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DD4</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
              getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 4, 1)"
            [value]="getPlayer(competition.team1, 4, 1)?.name" placeholder="Naam speler" name="match4team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
              getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 4, 2)"
            [value]="getPlayer(competition.team1, 4, 2)?.name" placeholder="Naam speler" name="match4team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
              getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 4, 1)"
            [value]="getPlayer(competition.team2, 4, 1)?.name" placeholder="Naam speler" name="match4team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), getPlayer(competition.team1, 4, 2), 
              getPlayer(competition.team2, 4, 1), getPlayer(competition.team2, 4, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 4, 2)"
            [value]="getPlayer(competition.team2, 4, 2)?.name" placeholder="Naam speler" name="match4team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(4, 'Dames dubbel 4', 'WOMEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DE1</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 5, 1), null, 
              getPlayer(competition.team2, 5, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 5, 1)"
            [value]="getPlayer(competition.team1, 5, 1)?.name" placeholder="Naam speler" name="match5team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 5, 1), null, 
              getPlayer(competition.team2, 5, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 5, 1)"
            [value]="getPlayer(competition.team2, 5, 1)?.name" placeholder="Naam speler" name="match5team2position1" style="width: 100%; padding-left: 15px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(5, 'Dames enkel 1', 'WOMEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DE2</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 6, 1), null, 
              getPlayer(competition.team2, 6, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 6, 1)"
            [value]="getPlayer(competition.team1, 6, 1)?.name" placeholder="Naam speler" name="match6team1position1" style="width: 100%; text-align: right; padding-right: 16px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 6, 1), null, 
              getPlayer(competition.team2, 6, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 6, 1)"
            [value]="getPlayer(competition.team2, 6, 1)?.name" placeholder="Naam speler" name="match6team2position1" style="width: 100%; padding-left: 16px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(6, 'Dames enkel 2', 'WOMEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DE3</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), null, 
              getPlayer(competition.team2, 7, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 7, 1)"
            [value]="getPlayer(competition.team1, 7, 1)?.name" placeholder="Naam speler" name="match7team1position1" style="width: 100%; text-align: right; padding-right: 17px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), null, 
              getPlayer(competition.team2, 7, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 7, 1)"
            [value]="getPlayer(competition.team2, 7, 1)?.name" placeholder="Naam speler" name="match7team2position1" style="width: 100%; padding-left: 17px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(7, 'Dames enkel 3', 'WOMEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DE4</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), null, 
              getPlayer(competition.team2, 8, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 8, 1)"
            [value]="getPlayer(competition.team1, 8, 1)?.name" placeholder="Naam speler" name="match8team1position1" style="width: 100%; text-align: right; padding-right: 18px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), null, 
              getPlayer(competition.team2, 8, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 8, 1)"
            [value]="getPlayer(competition.team2, 8, 1)?.name" placeholder="Naam speler" name="match8team2position1" style="width: 100%; padding-left: 18px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(8, 'Dames enkel 4', 'WOMEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button block color="danger" *ngIf="hasAuthority" (click)="deleteCompetition()">
          Verwijder competitiepartij
        </button>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="competition.type==='MIX' ">
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1></ion-col>
        <ion-col col-5 style="text-align: right;" [ngStyle]="{'font-weight': getFontWeight(competition.matchesWonTeam1, competition.matchesWonTeam2)}">{{competition.team1}} {{competition.matchesWonTeam1}}</ion-col>
        <ion-col col-5 [ngStyle]="{'font-weight': getFontWeight(competition.matchesWonTeam2, competition.matchesWonTeam1)}">{{competition.matchesWonTeam2}} {{competition.team2}}</ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HD</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 1, 1)"
            [value]="getPlayer(competition.team1, 1, 1)?.name" placeholder="Naam speler" name="match1team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 1, 2)"
            [value]="getPlayer(competition.team1, 1, 2)?.name" placeholder="Naam speler" name="match1team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 1, 1)"
            [value]="getPlayer(competition.team2, 1, 1)?.name" placeholder="Naam speler" name="match1team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 1, 1), getPlayer(competition.team1, 1, 2), 
            getPlayer(competition.team2, 1, 1), getPlayer(competition.team2, 1, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 1, 2)"
            [value]="getPlayer(competition.team2, 1, 2)?.name" placeholder="Naam speler" name="match1team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(1, 'Heren dubbel', 'MEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DD</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 2, 1)"
            [value]="getPlayer(competition.team1, 2, 1)?.name" placeholder="Naam speler" name="match2team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 2, 2)"
            [value]="getPlayer(competition.team1, 2, 2)?.name" placeholder="Naam speler" name="match2team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 2, 1)"
            [value]="getPlayer(competition.team2, 2, 1)?.name" placeholder="Naam speler" name="match2team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 2, 1), getPlayer(competition.team1, 2, 2), 
            getPlayer(competition.team2, 2, 1), getPlayer(competition.team2, 2, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 2, 2)"
            [value]="getPlayer(competition.team2, 2, 2)?.name" placeholder="Naam speler" name="match2team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(2, 'Dames dubbel', 'WOMEN_DOUBLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HE1</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), null, 
            getPlayer(competition.team2, 3, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 3, 1)"
            [value]="getPlayer(competition.team1, 3, 1)?.name" placeholder="Naam speler" name="match3team1position1" style="width: 100%; text-align: right; padding-right: 13px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 3, 1), null, 
            getPlayer(competition.team2, 3, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 3, 1)"
            [value]="getPlayer(competition.team2, 3, 1)?.name" placeholder="Naam speler" name="match3team2position1" style="width: 100%; padding-left: 13px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(3, 'Heren enkel 1', 'MEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">HE2</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), null, 
            getPlayer(competition.team2, 4, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 4, 1)"
            [value]="getPlayer(competition.team1, 4, 1)?.name" placeholder="Naam speler" name="match4team1position1" style="width: 100%; text-align: right; padding-right: 14px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 4, 1), null, 
            getPlayer(competition.team2, 4, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 4, 1)"
            [value]="getPlayer(competition.team2, 4, 1)?.name" placeholder="Naam speler" name="match4team2position1" style="width: 100%; padding-left: 14px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(4, 'Heren enkel 2', 'MEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DE1</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 5, 1), null, 
            getPlayer(competition.team2, 5, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 5, 1)"
            [value]="getPlayer(competition.team1, 5, 1)?.name" placeholder="Naam speler" name="match5team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 5, 1), null, 
            getPlayer(competition.team2, 5, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 5, 1)"
            [value]="getPlayer(competition.team2, 5, 1)?.name" placeholder="Naam speler" name="match5team2position1" style="width: 100%; padding-left: 15px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(5, 'Dames enkel 1', 'WOMEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">DE2</ion-col>

        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 6, 1), null, 
            getPlayer(competition.team2, 6, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 6, 1)"
            [value]="getPlayer(competition.team1, 6, 1)?.name" placeholder="Naam speler" name="match6team1position1" style="width: 100%; text-align: right; padding-right: 16px;">
        </ion-col>
        <ion-col col-5 style="vertical-align: middle">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 6, 1), null, 
            getPlayer(competition.team2, 6, 1), null, 'SINGLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 6, 1)"
            [value]="getPlayer(competition.team2, 6, 1)?.name" placeholder="Naam speler" name="match6team2position1" style="width: 100%; padding-left: 16px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(6, 'Dames enkel 2', 'WOMEN_SINGLE')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">GD1</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), getPlayer(competition.team1, 7, 2), 
            getPlayer(competition.team2, 7, 1), getPlayer(competition.team2, 7, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 7, 1)"
            [value]="getPlayer(competition.team1, 7, 1)?.name" placeholder="Naam speler" name="match7team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), getPlayer(competition.team1, 7, 2), 
            getPlayer(competition.team2, 7, 1), getPlayer(competition.team2, 7, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 7, 2)"
            [value]="getPlayer(competition.team1, 7, 2)?.name" placeholder="Naam speler" name="match7team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), getPlayer(competition.team1, 7, 2), 
            getPlayer(competition.team2, 7, 1), getPlayer(competition.team2, 7, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 7, 1)"
            [value]="getPlayer(competition.team2, 7, 1)?.name" placeholder="Naam speler" name="match7team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 7, 1), getPlayer(competition.team1, 7, 2), 
            getPlayer(competition.team2, 7, 1), getPlayer(competition.team2, 7, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 7, 2)"
            [value]="getPlayer(competition.team2, 7, 2)?.name" placeholder="Naam speler" name="match7team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(7, 'Gemengd dubbel 1', 'MIX')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row style="border-width: 1px; border-bottom-style: solid;">
        <ion-col col-1 style="display: flex; justify-content: center; align-items: center; font-weight: bold">GD2</ion-col>

        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), getPlayer(competition.team1, 8, 2), 
            getPlayer(competition.team2, 8, 1), getPlayer(competition.team2, 8, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 8, 1)"
            [value]="getPlayer(competition.team1, 8, 1)?.name" placeholder="Naam speler" name="match8team1position1" style="width: 100%; text-align: right; padding-right: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), getPlayer(competition.team1, 8, 2), 
            getPlayer(competition.team2, 8, 1), getPlayer(competition.team2, 8, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team1, 8, 2)"
            [value]="getPlayer(competition.team1, 8, 2)?.name" placeholder="Naam speler" name="match8team1position2" style="width: 100%; text-align: right; padding-right: 15px; margin-top: 10px;">
        </ion-col>
        <ion-col col-5>
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), getPlayer(competition.team1, 8, 2), 
            getPlayer(competition.team2, 8, 1), getPlayer(competition.team2, 8, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 8, 1)"
            [value]="getPlayer(competition.team2, 8, 1)?.name" placeholder="Naam speler" name="match8team2position1" style="width: 100%; padding-left: 15px;">
          <input [disabled]="!hasAuthority || getMatch(getPlayer(competition.team1, 8, 1), getPlayer(competition.team1, 8, 2), 
            getPlayer(competition.team2, 8, 1), getPlayer(competition.team2, 8, 2), 'DOUBLE')" (change)="updateCompetitionPlayer($event.target.value, competition.team2, 8, 2)"
            [value]="getPlayer(competition.team2, 8, 2)?.name" placeholder="Naam speler" name="match8team2position2" style="width: 100%; padding-left: 15px; margin-top: 10px;">
        </ion-col>

        <ion-col (click)="openCompetitionDetailModal(8, 'Gemengd dubbel 2', 'MIX')" col-1 style="display: flex; justify-content: center; align-items: center;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button block color="danger" *ngIf="hasAuthority" (click)="deleteCompetition()">
          Verwijder competitiepartij
        </button>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-item color="primary" text-wrap style="text-align: center">
          Wil je andere personen op de hoogte houden van deze competitiepartij. Stuur dan de volgende sleutel naar deze persoon:
          <br>
          <br>
          <p class="text text-primary" style="font-size: 30px; font-weight: bold; border: solid white 1px;">{{competition.id}}</p>
        </ion-item>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>