<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Toernooi aanmaken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Titel</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Type toernooi</ion-label>
      <ion-select [(ngModel)]="selectedMatchType">
        <ion-option value="NONE" selected>Kies een type...</ion-option>
        <ion-option value="MEN_SINGLE">Heren enkel</ion-option>
        <ion-option value="WOMEN_SINGLE">Vrouwen enkel</ion-option>
        <ion-option value="MEN_DOUBLE">Heren dubbel</ion-option>
        <ion-option value="WOMEN_DOUBLE">Vrouwen dubbel</ion-option>
        <ion-option value="MIX">Mix</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedMatchType !== 'NONE'">
      <ion-label stacked>Aantal inschrijvingen</ion-label>
      <ion-input type="number" [(ngModel)]="numberOfTeams"></ion-input>
    </ion-item>
    <ion-item *ngIf="selectedMatchType !== 'NONE'">
      <ion-label stacked>StartDatum</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="selectedMatchType !== 'NONE'">
      <ion-label stacked>Einddatum</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="endDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <button ion-button color="light" (click)="createLocation = !createLocation">Locatie toevoegen</button>
      <span> *Optioneel</span>
    </ion-item>
    <div *ngIf="createLocation">
      <ion-item>
        <ion-label stacked>Straat + Huisnummer</ion-label>
        <ion-input type="text" [(ngModel)]="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Postcode + Gemeente</ion-label>
        <ion-input type="text" [(ngModel)]="city"></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <button ion-button color="primary" block large (click)="createTournament()">Opslaan</button>
    </ion-item>
  </ion-list>

</ion-content>