<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button left menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Registreer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button color="primary" block large (click)="createAccount()">Registreer</button>
    </ion-item>

  </ion-list>
</ion-content>