<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('./assets/imgs/background-home.jpg'); background-repeat: no-repeat; background-size: 200% 100%;"
  padding>
  <ion-slides pager>

    <ion-slide>
      <h2>Start een wedstrijd</h2>
    </ion-slide>

    <ion-slide>
      <h2>Start een toernooi</h2>
    </ion-slide>

    <ion-slide>
      <h2>Start een competitiepartij</h2>
    </ion-slide>

  </ion-slides>
</ion-content>