.bme-background-primary {
    background-color: #488aff;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.bme-background-secondary {
    background-color: #ff9900;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.bme-background-danger {
    background-color: #f53d3d;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.bme-background-dark {
    background-color: #222;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}