<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Badminton Made Easy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: url('./assets/imgs/background-home.jpg'); background-repeat: no-repeat; background-size: 200% 100%;"
  padding>
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <ion-card-header class="bme-background-primary">
          Start een badmintonwedstrijd!
        </ion-card-header>
        <ion-card-content>
          <button ion-button block color="primary">Start wedstrijd</button>
          <p style="font-size: 20px;">Of</p>
          <button ion-button block color="primary">Zoek wedstrijd</button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header class="bme-background-secondary">
          Start een toernooi!
        </ion-card-header>
        <ion-card-content>
          <button ion-button block color="secondary">Start toernooi</button>
          <p style="font-size: 20px;">Of</p>
          <button ion-button block color="secondary">Zoek toernooi</button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header class="bme-background-danger">
          Start een competitiepartij!
        </ion-card-header>
        <ion-card-content>
          <button ion-button block color="danger">Start competitiepartij</button>
          <p style="font-size: 20px;">Of</p>
          <button ion-button block color="danger">Zoek competitiepartij</button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>